<html lang="en">

<head>
{{>header}}
</head>

<body class="container">
    <h1 class="display-4">{{title}}</h1>
    <h2 class="display-4">Add New Entry</h2> 

<form method="post" role="form">

  <div class="form-group">
    <label for="student">New Item</label>
    <input type="text" class="form-control" id="todo" name="todo" placeholder="Add an item" required>
  </div>
<div class="form-group">
    <label for="notes">Notes: </label> 
    <input type="text" class="form-control" id="notes" name="notes" placeholder="notes" required>
  </div>
  <div class="form-group" required>
   <label for="status">status</label>
    <input type="radio"  name="status" value="true"> complete
    <input type="radio"  name="status" value="false"> to be completed
  </div>

  <div class="form-group">
    <input type="submit" value="Add item" class="btn btn-primary">
  </div>
</form>
</body>
</html>